:root {
    --primary-color: #5ab3f7;
    --primary-color-dark: #1766a1;
    --button-color: #14588b;
    --button-color-hover: #227fc5;
    --button-color-shadow: #114770;
    --text-color: white;
}

/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    min-width: 100vw;
    min-height: 100vh;
}

.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{       
    margin:5% auto;
}

.contentForm{
    margin: 0 auto;
    margin-top: 100px !important;
    width: 477px;
    height: 551px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.imageContent{
    width: 144px;
    height: 144px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -72px;
}

.bodyContent{
    width: 349px;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -12%;
}

.dataInput{
    width: 110%;
    height: 43px;
    display: flex;
    align-items: center;
    border: 1px solid #16276E;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    padding-right: 30px;
}

.label {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.label p{
    height: 70%;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 18px;
    color: #16276E;
    border-right: 1px solid #16276E;
}

.input {
    margin-left: 15px;
}

.input input{
    float: left;
    text-align: left;
    border: none;
    outline: none;
}

.footerContent{
    height: 10%;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #16276E;
    border: 2px solid var(--button-color-hover);
    color: white;
    outline: none;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    height: 100%;
    height: 20px;
}

.dropdown>button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.dropdown>button:hover {
    background-color: transparent !important;
    border: none;
    outline: none;
    color: aliceblue;
    border: 50% !important;
}

.dropdown li {
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    padding: 3px 20px 3px 20px;
    color: rgb(255, 255, 255);
}

.dropdown li:hover {
    background-color: #11477056;
}

.closeDrop {
    display: none;
    transition: all .9s;
}

.openDrop {
    display: block;
    background-color: var(--primary-color);
    align-items: start;
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--button-color);
    border-top: none;
}

.contentDrop>ul {
    margin-top: 6px;
    padding: 0;
}

.dropdown {
    cursor: pointer;
    width: 180px;
    display: flex;
    justify-content: space-between;
}