.app-container {
    display: flex;
}

.content {
    width: 93%;
    transition: .5s;
}

.content-open {
    width: 78%;
    transition: .5s;
}

@media only screen and (width < 814px) {
    .app-container {
        display: block;
    }

    .content {
        min-width: 100%;
        margin: 0 auto;
    }
}