* {
    padding: none;
    margin: none;
    font-family: "Rockwell";
}

:root {
    --primary-color: #5ab3f7;
    --primary-color-dark: #1766a1;
    --button-color-hover: #14588b;
    --button-color: #227fc5;
    --button-color-shadow: #114770;
    --text-color: white;
}

.container-centered {
    max-width: 91%;
    margin: 0 auto;
    /* Esto centrará el contenido horizontalmente */
}

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 5px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 290px;
    min-height: 350px;
    transition: 0.7s;
}

.ButtonsDiv {
    display: flex;
    align-items: center;
}

.solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0 !important;
}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solu_title h3 {
    font-weight: bold;
    text-transform: capitalize;
}

.solution_card .solu_description button {
    border: 0;
    border-radius: 6px;
    background: var(--button-color) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    margin: 9px;
    padding: 5px 15px;
}

.solution_card .solu_description button span {
    padding-right: 5px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.cardsContainer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.contentList button {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    background-color: var(--button-color);
}

.contentList {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.searchPanel {
    padding-top: 20px;
}

.searchBar {
    display: flex;
    align-items: right;
}

.searchBar input {
    margin: 0 !important;
    width: 80%;
    border-radius: 6px 0 0 6px;
}

.searchBar button {
    margin: 0 !important;
    border: none;
    color: white;
    border-radius: 0 6px 6px 0;
    width: 20%;
}

.container-fluid>button,
.pagination>button {
    border: none;
    color: white;
    padding: 5px 15px;
}

.formContent {
    display: flex;
    max-height: 40px !important;
}

.pagination span,
.container-fluid span {
    margin-right: 4px;
    margin-left: 4px;
}

.contentList button:hover {
    background-color: var(--button-color-hover) !important;
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (width < 794px) {
    .container-fluid>button {
       min-width: 100%;
       margin: 0 auto;
       margin-bottom: 10px;
       transition: .5s;
    }

    .formContent, .searchBar {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }
}


