:root {
    --primary-color: #5ab3f7;
    --primary-color-dark: #1766a1;
    --button-color: #14588b;
    --button-color-hover: #227fc5;
    --button-color-shadow: #114770;
    --text-color: white;
}

.m-4 {
    color: var(--button-color);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.79);
}

.m-4>table {
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    /* Ajusta este valor según tu preferencia */
}

thead {
    color: #1147707c;
    border-radius: 10px 10px 0 0 !important;
}

thead th{
    padding: 20px 0 20px 0 !important;
}

.m-4 table th,
td {
    padding: 6px 15px 6px 10px;
}

.m-4 table tbody tr:hover {
    background-color: #1765a149 !important;
    color: var(--button-color-shadow);
}

.m-4 table tbody tr:nth-child(odd) {
    background-color: #1765a110;
}

.m-4 table tbody tr td p {
    padding: 0;
    text-align: left;
    position: relative;
    top: 8px !important;
}

.m-4 table tbody tr td:nth-child(3) p{
    background-color: rgba(4, 116, 4, 0.63);
    color: white;
    padding: 5px;
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
}

.m-4 table tbody tr td:nth-child(5) p{
    background-color: rgba(4, 116, 4, 0.63);
    color: white;
    padding: 5px;
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
}

.searchButton>input {
    border: 1px solid var(--button-color);
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 240px;
    color: var(--button-color-shadow);
    padding-left: 7px;
    transition: .5s;
}

.editId {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    border-bottom: 1px solid var(--button-color);
    padding-bottom: 0px;
}

.editId>p{
    font-weight: bold;
    font-size: 20px;
}

.editId>label {
    font-weight: bold;
}

.searchButton {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.m-4>button {
    border: none;
    background-color: var(--button-color);
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.m-4 p {
    text-align: center;
    padding-top: 20px;
}

.searchButton>button{
    margin-bottom: 8px;
    background-color: var(--button-color);
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    top: -10px;
    padding: 2px 7px 2px 7px;
}

.search>button {
    background-color: transparent;
    margin-bottom: 8px;
    color: var(--button-color);
    border-radius: 50%;
    border: none;
    outline: none;
    top: -10px;
    padding: 2px 7px 2px 7px;
}

.search>button:hover{
    background-color: transparent;
    transform: scale(1.2);
    transition: .2s;
}

.search> input {
    width: 0px;
    display: none;
}